$color-fixed-white: #FFF;
$color-fixed-mint: #1aaba8;
$color-fixed-yellow: #F9D22D;
$color-fixed-orange: #ff9102; // India Landing Page
$color-fixed-lime: $color-fixed-yellow; // #bcd515;
$color-fixed-neon-lime: $color-fixed-yellow; // #e0fd0a;
$color-fixed-mauve: #9d67a8;
$color-fixed-peach: #FFECC1;
$color-fixed-cream: #FFF9F0;

$color-fixed-gray: #191d2f;
$color-fixed-gray-90: #2c3042;
$color-fixed-gray-80: #45495b;
$color-fixed-gray-70: #5c6072;
$color-fixed-gray-60: #737789;
$color-fixed-gray-50: #898d9f;
$color-fixed-gray-40: #a0a4b6;
$color-fixed-gray-30: #b6bacf;
$color-fixed-gray-20: #cdd1e3;
$color-fixed-gray-10: #e5e8f4;
$color-fixed-gray-4: #f5f6fb;

$color-fixed-blue: #072032;
$color-fixed-blue-90: #0b3c66;
$color-fixed-blue-80: #135ba2;
$color-fixed-blue-70: #207abb;
$color-fixed-blue-60: #5995c8;
$color-fixed-blue-50: #85b1d7;
$color-fixed-blue-40: #b1cae4;
$color-fixed-blue-30: #c1d7ec;
$color-fixed-blue-20: #d8e5f2;
$color-fixed-blue-10: #ecf1f9;
$color-fixed-blue-4: #f7fafc;

$color-fixed-red: #4b0110;
$color-fixed-red-90: #990120;
$color-fixed-red-80: #e60130;
$color-fixed-red-70: #ff1747;
$color-fixed-red-60: #ff3b60;
$color-fixed-red-50: #ff5e6d;
$color-fixed-red-40: #ff8577;
$color-fixed-red-30: #ffab9a;
$color-fixed-red-20: #ffc4b0;
$color-fixed-red-10: #ffe2d7;
$color-fixed-red-4: #fff4ef;